@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage my <a asp-controller="Course" asp-action="GetAllCourses">Courses</a> or
        <a asp-controller="Course" asp-action="GetAddNewCourse">Add a new course</a>
    </p>
</div>


